<div class="container py-5">
    <h2 class="h3 font-weight-bold">Paisa-Hi-Paisa-HOGA!!!!! with ApnaFincom</h2>
    <div class="row">
        <div class="col-lg-10 mb-4">
            <p class="font-italic text">company initiated by the great Raju, Shyam and Babu bhaiyya, with initial investment of 40 lac from the great owner of Star fisheries mr. DaiviPrasad</p>
            <p class="font-italic text">later on the business was expanded with "25 din me paisa double" scheme, with the help of co-sponcered laxmi chit-fund, we determined to take your money the assure you to make your money double. </p>
        </div>
        <div class="col-lg-8">
            <p class="font-italic text"><strong class="font-weight-bold text">with us your money is SAAF ...i mean safe </strong>please join us on this exciting journey of money making </p>
        </div>
    </div>
    </div>